/* Remove the default margin and padding from the body. */
body {
    padding: 0;
    margin: 0;
    cursor:pointer !important;
  }
 
  /* Set map, body, and html to 100% of the screen size. */
  
  .container,
  #map,
  body,
  html {
    height: 100%;
  }

  /*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
 .plot-container {
  height: 65%; 
} 

.full-height {
  height: 100%
}
/* for radar chart*/
.radar-chart .area {
  fill-opacity: 0.7;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}
.area.roadcondition, .roadcondition .circle {
  fill: #FFD700;
  stroke: none;
}

