<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USCarAccidents</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center" style="background-color: palegreen;">
                <h1>US Car Accidents in 2019 and 2020</h1>
                <p>Car accidents records for cities Dallas, Los Angeles,NewYork,SanDiego</p>
            </div>
        </div>
        <div>
            <div class="col-md-6">
                <table class="table table-striped table-bordered" style="background-color:lightgreen;">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">
                                <h4>AVAILABLE ROUTES FOR THIS API</h4>
                            </th>
                            <th scope="col">
                                <h4>DESCRIPTION</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                <h4><a href="/year-datavis"> /year-datavis </a></h4>
                            </td>
                            <td>
                                <h4>accidents location plots on map</h4>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>
                                <h4> <a href="/city-datavis">/city-datavis </a></h4>
                            </td>
                            <td>
                                <h4> year and monthwise accidents counts in cities</h4>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>
                                <h4> <a href="/time-datavis">/time-datavis</a> </h4>
                            </td>
                            <td>
                                <h4> weekly and hourly accidents counts </h4>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>
                                <h4><a href="/weather-datavis">/weather-datavis</a></h4>
                            </td>
                            <td>
                                <h4>plots for different weather conditions</h4>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>
                                <h4><a href="/condition-datavis">/condition-datavis</a></h4>
                            </td>
                            <td>
                                <h4>accident counts in different roadconditions and severity</h4>
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>

            <div class="col-md-6">
                <img src='https://upload.wikimedia.org/wikipedia/commons/1/1a/Japanese_car_accident.jpg'
                    alt="car accident pic" style="height: 350px;width: 560px;">
            </div>
        </div>

    </div>



</body>

</html>