<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dallas vs Los Angeles Weather Comparison </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container"></div>
        <div class="row">
            <div class="col-md-12  text-center">
                <h3>Dallas vs Los Angeles Weather Comparison </h3>
            </div>
            
            <div class="col-md-5">
                <div id="line5"></div>
            </div>
            <div class="col-md-5 text-center">
                <div id="plot5"></div>
            </div>
        </div>
        <div id="myDiv"></div>
</div>
    <script src="../static/logic.js"></script>
    <script src="../querydata/sample5.json"></script>
</body>
</html>