<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Severity vs Accident count</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container"></div>
        <div class="row">
            <div class="col-md-12  text-center">
                <h3>Charts based on severity level</h3>
            </div>
            
            <div class="col-md-5">
                <h3>Pie chart</h3>
                <div id="pie"></div>
            </div>
            <div class="col-md-5 text-center">
                <h3>Basic Animation Bar chart</h3>
                <div id="my_dataviz"></div>   
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h3>Bar chart</h3>
                <div id="plot"></div>
            </div>
            <div class="col-md-5 text-center">
                <h3>myDiv chart</h3>
                <div id="myDiv"></div>
            </div>

        </div>
        

        
</div>
    <script src="../static/logic.js"></script>
    <script src="../querydata/sample3.json"></script>
</body>
</html>