<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USCarAccidents</title>


    <script src="https://d3js.org/d3.v5.min.js"></script>

    <link rel="stylesheet" type="text/css" href="static/style.css">


    <!--Bootstrap CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>



</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h2>Car accidents plot</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="well">
                    <h5>City</h5>
                    <select id="selCity"></select>
                </div>


                <div class="well">
                    <h5>Year</h5>
                    <select id="selYear"></select>
                </div>

            </div>


            <div class=" col-md-10" style="height: 500px;;">

                <div id="map"></div>
            </div>

        </div>
    </div>

    </div>

    <script src="static/logic1.js"></script>

</body>

</html>