<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USCarAccidents</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">

     <!-- bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     <!-- Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
         crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
         integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
         crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
         integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
         crossorigin="anonymous"></script>

    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <!-- Plolty library-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- JavaScript  -->
    <script src="./static/js/logic.js"></script>
  
    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    
     <!-- Leaflet CSS -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
         integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
         crossorigin="" />
 
     <!-- Leaflet JavaScript code -->
     <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
         integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
         crossorigin=""></script>
     <!-- Leaflet heatmap plugin-->
     <script type="text/javascript" src="static/leaflet-heat.js"></script>

</head>

<body>
    <!-- header starts -->
    <div class="container-fluid" id="header-bx">
      <a class="navbar-brand" id="title-header" href="index.html">Data Visualization Project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>  
    </header>
    </div>
    <div class="container-fluid" style="background-color: white; height: 18px;"></div>
    <!-- header ends -->

    <!-- container starts -->
    <div class="container-fluid">
      <!-- jumbotron starts -->
      <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-12 col-xl-12 ev-jumbotron" style="text-align: center;">
              <div class="jumbotron">
                  <h1 class="display-4">US Car Accidents in 2019 and 2020</h1>
                  <hr class="my-4">
                  <p>Car accidents records for cities Dallas, Los Angeles,NewYork,SanDiego</p>
                  <p class="lead">
                  </p>
              </div>
          </div>
      </div>
      <!-- jumbotron ends -->
        <!-- navbar starts -->
        <div class="row">
          <div class="col-12">
              <ul class="nav nav-tabs justify-content-center">
                  <li class="nav-item"><a class="nav-link"href="/"style="font-size: 15px; font-weight: bold;">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="font-size: 15px; font-weight: bold;">
                          API
                        </a>
                      <div class="dropdown-menu">
                              <a class="dropdown-item" href="year/data?year=2019&city=Los Angeles">Yearwise car accidents results in four cities</a>
                              <a class="dropdown-item" href="/city/data">accidents counts in cities in a time range</a>
                              <a class="dropdown-item" href="/monthly/data">accidents counts monthly</a>
                              <a class="dropdown-item" href="/weekly/data">accidents counts weekly</a>
                              <a class="dropdown-item" href="/hourly/data">accident counts by different hour range</a>
                              <a class="dropdown-item" href="/severity/data">	
                                  accidents count by severity</a>
                              <a class="dropdown-item" href="/prcp-wsp/data">accident counts with precipitation</a>
                              <a class="dropdown-item" href="/weather/data">accident counts with weather conditions</a>
                              <a class="dropdown-item" href="/roadcondition/data">accident counts with traffic conditions</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"style="font-size: 15px; font-weight: bold;">
                      Visualization
                      </a>
                    <div class="dropdown-menu">
                          <a class="dropdown-item" href="/general">General Analysis</a>
                          <hr class="dropdown-divider">
                          <a class="dropdown-item" href="/city-vis">Analysis by Cities</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/aboutus" style="font-size: 15px; font-weight: bold;">About Us</a>
                  </li>
                  
                </ul>
          </div>
      </div>
      <!-- navbar ends -->
       <!-- content starts -->
      <div class="row flex-xl-nowrap">
          <!-- leftside bar starts -->
          <div class="col-12 col-md-3 col-xl-2 ev-sidebar" style="background-color: rgb(209, 222, 245);">
              <br>
              <hr>
              <nav class="collapes bd-links" id="bd-docs-nav">
              </nav>
              
          </div>
          <!-- letside bar ends -->

          <!-- main content starts -->
          <div class="col-12 col-md-9 col-xl-10 py-md-5 ev-content" style="background-color: rgb(225, 240, 240); height: 600px;">
              <h1>Team Members</h1>
              <h3 class="plot-title1"> Indroduction</h3>
              <hr>
              
              <div class="container">
                <div class="container">
                  <div class="col-md-3">
                      <div class="card">
                        <img src="" alt="" class="card">
                        <img class="card-img-top" src="static/blossom.jpeg" alt="Card image cap" height="250" width="250">
                          <div class="card-body">
                            <h3 class="card-title">Tamasree Sinha</h3>
                            <p class="card-text">
                              intro
                            </p>
                            <button type="button" class="btn btn-primary" src="https://github.com/tamasree">GitHub: tamasree</button>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card">
                        <img class="card-img-top" src="static/bubbles.jpeg" alt="Card image cap" width="250" height="250">
                          <div class="card-body">
                            <h3 class="card-title">Lekshmi</h3>
                            <p class="card-text">
                              intro
                            </p>
                            <button type="button" class="btn btn-primary" src="https://github.com/lekpix">GitHub: lekpi</button>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card">
                        <img class="card-img-top" src="static/buttercup.jpeg" alt="Card image cap" width="250" height="250">
                          <div class="card-body">
                            <h3 class="card-title">Hima Vissa</h3>
                            <p class="card-text">
                              intro
                            </p>
                            <button type="button" class="btn btn-primary" src="https://github.com/himavissa">GitHub: himavissa</button>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card">
                        <img class="card-img-top" src="static/prof.jpeg" alt="Card image cap" idth="250" height="250">
                          <div class="card-body">
                            <h3 class="card-title">Vilaysack Khonsavanh</h3>
                            <p class="card-text">
                              intro
                            </p>
                            <button type="button" class="btn btn-primary" href="https://github.com/KeSavanh">
                              GitHub: KeSavanh</button>
                          </div>
                        </div>
                  </div>
          </div>
              </div>
          </div>
          <!-- main content ends -->
      </div>
  </div>
  <!-- container ends -->

        <!-- footer starts -->
        <footer class="bg-light text-center text-lg-start">
          <div class="text-center p-3" style="background-color: rgb(53, 142, 169); font-size: 16px; font-weight: lighter; color: white;">
          Data visualization project submission by: Team members
          </div>
        </footer>
        <!-- footer ends -->  
</body>

</html>